@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-medium);
  }

  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }

  body {
    font-family: var(--font-sans);
  }
}
